// vars
$font: 'Fira Sans';
$btnColor: #1A75E8;
$bgColor: #F2F3F6;

// global ctyles 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 1150px;
    margin: 0 auto;
    max-width: 100%
}

// header
@import 'header';

// find job section

.find_job {
   background: $bgColor;
    width: 100%; 

   .container {
    display: flex;
    justify-content: space-between;
    
   .uptitle {
      width: 290px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;

    }

    @media (min-width: 768px) {
        .uptitle {
            width: 400px;
            height: 300px;
            display: flex;
            text-align: left;
        }
    }
  }
}