// vars
$font: 'Fira Sans';
$btnColor: #1A75E8;
$bgColor: #F2F3F6;

// global ctyles 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
}

@import 'header';

.container {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 1150px;
    margin: 0 auto;
    max-width: 100%
}

// header

// find job section

.find_job {
   background: $bgColor;
    width: 100%; 
    height: 100%;

   .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   }

   .uptitle {
    width: 100%;
    height: 100%;
      }

      @media (min-width: 445px) {
        .container {
           display: flex;
           flex-direction: row;
           justify-content: center;
           flex-wrap: wrap;
           gap: 15px;
           padding: 50px 0;
           padding-right: 20px;
           padding-left: 20px;
   
           .uptitle {
               width: 400px;
               height: 300px;
               text-align: left;
             }
       }
   }

           @media (min-width: 768px) {
            .container {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               flex-wrap: wrap;
               gap: 15px;
               padding: 50px 0;
               padding-right: 20px;
               padding-left: 20px;
       
               .uptitle {
                   width: 400px;
                   height: 300px;
                   text-align: left;
                 }
           }
       }
    }


.uptitle {

    h1 {
        font-weight: 900;
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
       .uptitle p {
         font-size: 18px;
         margin-bottom: 25px;
       }
}

@media (min-width: 768px) {
        .uptitle h1 {
                font-size: 44px;
            }
}

.uptitle_img img{
        margin: 0 auto;
        display: block;
        position: relative;
        width: 250px;
        height: 260px;

        @media (min-width: 445px) {
            & {
                width: 300px;
                height: 310px;
            }
        }
   
        @media (min-width: 768px) {
               &  {
            width: 310px;
            height: 430px;
        }
    }
        @media (min-width: 820px) {
            & {
                width: 355px;
                height: 390px;
            }
        }

        @media (min-width: 1024px) {
             & {
                width: 545px;
                height: 560px;
             }
        }  
}

.uptitle_form_block {
    background-color: #ffffff;
    width: 290px;
}

.uptitle_form {
    display:flex;
    flex-direction: row;
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;
    color: #ffffff;
    width: 290px;
    height: 70px;

          &_search {
           flex-grow:2;
           border:none;
           padding: 25px;

           &:focus {
            outline: none;
          }
    }
         &_btn {
            width: 68px;
            height: 45px;
            padding: -5px 30px;
            background-color: #1A75E8;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 15px;
            position: relative;
            left: -10px;
            top: -4px;

         &_text {
            opacity: 0;
            color:white;
            position: absolute;
        }
    }
}

@media (min-width: 375px) {
    .uptitle_form_block {
        margin-left: auto;
        margin-right: auto;
    } 
}

@media (min-width: 425px) {
    .uptitle_form_block {
        margin-left: 0;

    } 
    .uptitle_form {
        width: 390px;
        height: 70px;
        background-color: #ffffff;
        }
}

@media (min-width: 524px) {
    .uptitle_form_block {
         margin: 0;
    }

.uptitle_form_btn {
    width: 220px;
    height: 49px; 
    left: -10px; 
    top: -5px;

    &_text {
        position: relative;
        opacity: 1;
        padding: 5px;
    }
    }
}


.uptitle_form_btn img {
    width: 15px;
    height: 15px;
    background-color: #1A75E8;
    margin: 0;
}

.for_example {
    margin-left: 25px;
    margin-top: 25px;
    color: #B2B2B2;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    .first_example {
        width: 100%;
        margin-left: -60px;
    }
}

.example {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 50px;
}

 .examples {
        border: 1px solid #B2B2B2;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        color: #B2B2B2;
      }

@media (min-width: 425px) {
    .for_example {
        display: flex;
        flex-direction: row;

        .first_example {
            margin: 10px;
        }

        .example {
            margin-top: -5px;
        }
    }
}
// category
.category {
    font-family: $font;
    color: #21243D;
    .category_text {
       margin: 0;
       padding: 70px 147px 40px;
       font-style: normal;
       font-weight: 700;
       font-size: 24px;
       line-height: 29px;
       @media (max-width: 425px) {
        text-align: center;
        margin-left: -130px;
        margin-right: 0;
        padding-right: 10px;
    }
    }

    .box {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 30px;
        background-color: #F2F3F6;
        width: 166px;
        height: 128px;
        border-radius: 10px;
        margin: 0;
        margin-right: 30px;
        transition-duration: 0.5s, 0.5s;
        transition-property: color, background-color;
        transition-timing-function: ease-in-out;
        @media (max-width: 425px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 81px;
            margin-bottom: 30px;
            margin-right: 0;
            border: 0;
        }
    }

    .box1 {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 30px;
        background-color: #F2F3F6;
        width: 166px;
        height: 128px;
        border-radius: 10px;
        margin: 0;
        margin-right: 30px;
        margin-left: 147px;
        transition-duration: 0.5s, 0.5s;
        transition-property: color, background-color;
        transition-timing-function: ease-in-out;
        @media (max-width: 425px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 81px;
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    .img_text {
        padding-top: 30px;
    }

    p {
        margin-top: 10px;
    }
}

.box:hover {
    background-color: #1A75E8;
    transition-duration: 0.5s, 0.5s;
    transition-property: color, background-color;
    transition-timing-function: ease-in;
    color: white;
    cursor: pointer;
}

.box1:hover {
    background-color: #1A75E8;
    transition-duration: 0.5s, 0.5s;
    transition-property: color, background-color;
    transition-timing-function: ease-in;
    color: white;
    cursor: pointer;
}

// email

// vacation section

.vacation {
    .container {

    }
}

.vacation_item {
    margin: 20px 0;
    text-align: center;
    padding: 30px 0;
    border: 1px solid #C5C9D5;
    border-radius: 10px;

     &_money {
       width: 113px;
       height: 39px;
       color: #ffffff;
       font-weight: 700;
       margin-left: 105px;
       background: $btnColor;
       border-radius: 5px;
       padding: 10px 24px 25px;
     }
}

.requirements {
    margin-left: 100px;
    margin-top: 25px;
    color: #B2B2B2;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    .first_requirement {
        width: 100%;
        margin-left: -60px;
    }

    .elements {
        display: flex;
        gap: 5px;
        margin: -20px 0 27px -35px;

        .requirement_element {
        border: 1px solid #B2B2B2;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        color: #B2B2B2;
        }
    }
} 

.vacation_item_title {
     padding: 10px;

      &_uptitle {
        font-weight: 700;
      }
      &_subtitle {
        font-weight: 400;
        font-size: 14px;
        color: #111238;
        opacity: 0.8;
      }
}

// footer

.footer {
    padding: 50px 0 55px;

       .container {
            height: 505px;
            width: 166px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;

            @media (min-width: 524px) {
                height: 100%;
                width: 100%;
            }

            @media (min-width: 768px) {
                justify-content: space-around;
            }
           
            a {
                text-decoration: none;
                color: #111238;
            }

            .logo, .contacts, .information, .navigation {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
    }
}

.footer .logo {
    &_img {
        height: 30px;
        margin-bottom: 20px;
    }

    &_text {
        width: 168px;
        height: 50px;
        font-size: 12px;
        color: #B2B2B2;
        margin-bottom: 10px;
        margin: 0;
    }
}